deepspeed>=0.12.3
mpi4py-mpich
modelscope
bitsandbytes>=0.40.0.post4
datasets>=2.16.0
einops
gradio==3.48
lagent>=0.1.2
mmengine>=0.10.3
openpyxl
peft>=0.4.0
scikit-image
scipy
SentencePiece
tiktoken
torch<=2.1.2
torchvision<=0.16.2
transformers>=4.36.0,!=4.38.0,!=4.38.1,!=4.38.2
transformers_stream_generator
streamlit==1.24.0